.mypy_cache
.ipynb_checkpoints
.vscode
pubmed19n0001.xml
pubmed19n0971.xml
test_run*
__pycache__
data
.DS_Store
pymetamap
Multi-BioNER
BioCreativeVI_BioID_assignment
Quickumls_dir/
QuickUMLS/
QuickUMLS_orig/